html {
    background: grey;
}

#getRule {
    background: #fbfbf1;
    width: 500px;
    padding: 0.75rem;
    border-radius: 20px;
    text-align: center;
}

#cardArea {
    display: flex;
    justify-content: center;
}